<div class="form" data-controller="tg--auth">
    <%= form_with model: @message, remote: true, html: { data: { action: "ajax:success->remote-form#onPostSuccess" } }, class: "row g-3" do |message_form| %>
        <div class="mb-3">
            <%= message_form.label :uploads, "Фото", class: "form-label" %>
            <%= message_form.file_field :uploads, multiple: true, class: "form-control" %>
        </div>

        <div class="mb-3">
            <%= message_form.label :text, "Текст обьявления", class: "form-label" %>
            <%= message_form.text_area :text, rows: 3, class: "form-control" %>
        </div>

        <div class="mb-3" data-controller="dadata">
            <%= message_form.label :city, "Город", class: "form-label" %>
            <%= message_form.text_field :city, placeholder: "Введите для поиска...", list: "citiesListOptions", data: {action: "dadata#request"}, class: "form-control" %>
            <datalist id="citiesListOptions" data-dadata-target="citiesDataList"></datalist>
        </div>

        <%= turbo_frame_tag "stuff" do %>
        <%= message_form.fields_for :products do |products_form| %>
        <div class="mb-3" data-controller="stuff">
            <%= message_form.label :products, "Товары", class: "form-label" %>
            <%= render partial: "stuff", locals: { products_form: products_form, categories: @categories } %>
            <div class="d-grid mt-1">
                <button class="btn btn-primary" type="button" data-action="stuff#add">Добавить товар</button>
            </div>
        </div>
        <% end %>
        <% end %>

        <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="fpv_hoarder_bot" data-size="large" data-radius="10" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>

        <div class="col-auto">
            <%= message_form.fields_for :user do |message_user_form| %>
                <%= message_user_form.hidden_field :tg_user_name, data: {"tg--auth-target": "tgUserName"} %>
                <%= message_user_form.hidden_field :tg_user_id, data: {"tg--auth-target": "tgUserId"} %>
            <% end %>
            <%= message_form.submit "Отправить", class: "btn btn-primary mb-3", disabled: true, data: {"tg--auth-target": "signIn", "tg--auth-action": "save"} %>
        </div>
    <% end %>

    <p>✅ Содержание поста:</p>
    <p>1&nbsp;фото или альбом, текст с&nbsp;описанием лотов, который интегрирован в&nbsp;описание фото. Если он&nbsp;не&nbsp;влезает, тогда отдельным постом сразу под фото. Цена каждого лота, город хэштегом (нижнее подчеркивание вместо пробелов: #Нижний_Новгород).</p>
    <p>⚠️ Обязательно реальное фото товара. Запрещены скриншоты магазинов, а&nbsp;так&nbsp;же чужие фото аналогичного товара.  </p>
    <p>⚠️ Все элементы поста обязательны! Цену можно не&nbsp;указывать только для услуг, например 3D&nbsp;печать. </p>
    <p>⚠️ Обсуждать цену, доставку, задавать вопросы по&nbsp;товару можно только в&nbsp;личку продавцу (нажав на&nbsp;иконку пользователя).</p>
    <p>Рекомендуем к&nbsp;товарам докладывать листочек с&nbsp;написанным ником в&nbsp;чате, чтобы защитить фотографии от&nbsp;копирования мошенниками. Листок расположить так, чтобы мошенникам было сложно переправить на&nbsp;нем никнейм.</p>
    <p>✅ Выложить повторно товар (UP&nbsp;объявления) можно через 7&nbsp;дней либо цитатой, где можно указать, к&nbsp;примеру, скидку, либо создав новое объявление. </p>
    <p>⚠️Агрессивное оформление поста крайне нежелательно. Смайлики, восклицательные знаки и&nbsp;жирный шрифт используйте по&nbsp;минимуму.</p>

</div>
